{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WhiskeyWunderWelt{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/css/foundation.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a href="{% url 'start_page' %}">
                <img src="{% static 'logo.png' %}" alt="Whiskey Wunder Welt Logo">
            </a>
        </div>
        <nav class="header-navigation">
            <ul>
                <li class="dropdown">
                    <a href="#">Sortiment</a>
                    <ul class="dropdown-content">
                        <!-- Hier könnten die Produktkategorien dynamisch generiert werden -->
                        <li><a href="#">Kategorie 1</a></li>
                        <li><a href="#">Kategorie 2</a></li>
                        <!-- ... -->
                    </ul>
                </li>
                <li><a href="#">Angebote</a></li>
                <li><a href="#">Neuheiten</a></li>
                <li><a href="#">Marken</a></li>
                <li class="dropdown">
                    <a href="#">Top 10</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Top 10 pro Kategorie</a></li>
                        <li><a href="#">Top 10 über alle Kategorien</a></li>
                    </ul>
                </li>
                <li><a href="#">Cocktails</a></li>
                <li><a href="#">Suche</a></li>
                <li><a href="#">Warenkorb</a></li>
                <li><a href="#">Benutzerbereich</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="footer-section">
            <h3>Kundenservice</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Abholung & Lagerverkauf</a></li>
                <li><a href="#">Kontaktformular</a></li>
                <li><a href="#">Zahlung & Versand</a></li>
                <li><a href="#">Produktempfehlungen</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Whiskey Wunder Welt</h3>
            <ul>
                <li><a href="#">Über uns</a></li>
                <li><a href="#">Gewinnspiel</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Rechtliches</h3>
            <ul>
                <li><a href="{% url 'imprint' %}">Impressum</a></li>
                <li><a href="#">AGB/Widerruf</a></li>
                <li><a href="{% url 'privacy_policy' %}">Datenschutzerklärung</a></li>
                <li><a href="#">Cookie-Einstellungen</a></li>
                <li><a href="#">Jugendschutz</a></li>
                <li><a href="#">Echtheit der Kundenbewertungen</a></li>
            </ul>
        </div>
        <div class="footer-disclaimer">
            <p>Versand nur an Personen über 18 Jahren</p>
            <p>&copy; 2023 Whiskey Wunder Welt</p>
        </div>
    </footer> 
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/js/foundation.min.js"></script>
    <!-- Deine eigenen JavaScript-Dateien oder -Skripte hier einbinden, falls benötigt -->
    <script>
        $(document).foundation();
    </script>
</body>
</html>
