{% extends 'django_start/base.html' %}

{% block content %}
<h1>Impressum</h1>
<p>Angaben gemäß § 5 TMG:</p>
<p>Whiskey Wunder Welt GbR<br>
Musterstraße 123<br>
12345 Musterstadt</p>

<p>Vertreten durch:</p>
<p>Max Mustermann und Maria Musterfrau</p>

<p>Kontakt:</p>
<p>E-Mail: info@whiskeywunderwelt.com<br>
Telefon: 01234 567890</p>

<p>Umsatzsteuer-ID:</p>
<p>Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE123456789</p>

<p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
<p>Max Mustermann und Maria Musterfrau<br>
Musterstraße 123<br>
12345 Musterstadt</p>

<p>Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO:</p>
<p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die du unter https://ec.europa.eu/consumers/odr/ findest.</p>
{% endblock %}
