{% extends 'django_start/base.html' %}

{% block content %}
<h1>Datenschutzerklärung</h1>
<p>Wir, die Whiskey Wunder Welt GbR, verpflichten uns zum Schutz Ihrer Privatsphäre und zur Sicherung Ihrer persönlichen Informationen. Diese Datenschutzerklärung erläutert, wie wir Ihre Informationen erfassen, verwenden und schützen, wenn Sie unsere Website nutzen.</p>

<h2>Informationen, die wir erfassen</h2>
<p>Wir können verschiedene Arten von personenbezogenen Informationen von Ihnen erfassen, einschließlich:</p>
<ul>
    <li>Ihren Namen, E-Mail-Adresse und Kontaktdaten, wenn Sie sie über unsere Kontaktformulare oder den Registrierungsprozess übermitteln.</li>
    <li>Informationen zu Ihren Bestellungen und Einkäufen.</li>
    <li>Nutzungsdaten wie IP-Adressen, Browsertyp, Betriebssystem und Surfverhalten, die durch Cookies und ähnliche Technologien erfasst werden.</li>
</ul>

<h2>Wie wir Ihre Informationen verwenden</h2>
<p>Wir verwenden Ihre personenbezogenen Informationen für folgende Zwecke:</p>
<ul>
    <li>Bereitstellung, Aufrechterhaltung und Verbesserung unserer Dienstleistungen und Website.</li>
    <li>Verarbeitung von Bestellungen, Transaktionen und Zahlungen.</li>
    <li>Senden von Werbematerial und Updates zu unseren Produkten und Dienstleistungen, mit Ihrer Zustimmung.</li>
    <li>Analyse von Nutzungsverhalten und Verbesserung der Funktionalität unserer Website.</li>
</ul>

<h2>Weitergabe Ihrer Informationen</h2>
<p>Wir können Ihre personenbezogenen Informationen an Drittanbieter-Dienstleister weitergeben, um bestimmte Geschäftsfunktionen wie Zahlungsabwicklung und Versand durchzuführen. Wir verkaufen Ihre Informationen nicht an Dritte.</p>

<h2>Ihre Rechte</h2>
<p>Sie haben das Recht auf:</p>
<ul>
    <li>Zugang, Berichtigung oder Löschung Ihrer personenbezogenen Informationen.</li>
    <li>Widerruf Ihrer Einwilligung zur Verarbeitung Ihrer Informationen.</li>
    <li>Abmeldung von Marketingkommunikationen.</li>
</ul>

<h2>Cookies</h2>
<p>Wir verwenden Cookies und ähnliche Technologien, um Nutzungsdaten zu erfassen und Ihre Erfahrung auf unserer Website zu verbessern. Sie können Ihre Browsereinstellungen anpassen, um Cookies abzulehnen oder benachrichtigt zu werden, wenn Cookies gesendet werden.</p>

<p>Wenn Sie Fragen zu unseren Datenschutzpraktiken haben, kontaktieren Sie uns bitte unter privacy@whiskeywunderwelt.com.</p>
{% endblock %}
