{% extends 'django_start/base.html' %}

{% block content %}
<h1>Willkommen bei Whiskey Wunder Welt</h1>
<p>Entdecken Sie unsere aktuellen Angebote:</p>
<ul>
    {% for product in products %}
    <li>
        <a href="{% url 'product_detail' product.id %}">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
            {% else %}
                <p>No image available for {{ product.name }}</p>
            {% endif %}
            {{ product.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
